<%- include("partials/header"); %>

<main id="mainBusqueda" class="container">
	<form action="/resultados" method="GET">
		<div id="busquedaObra">
			<input type="text" placeholder="Ej: Matrix" name="busqueda">
			<button type="submit">Buscar</button>
		</div>
	</form>
</main>


<%- include("partials/footer"); %>
